@font-face {
  font-family: 'Funnel Display';
  src: url('assets/fonts/FunnelDisplay-VariableFont_wght.ttf');
}

*{
  margin: 0;
  padding: 0;
  font-family: 'Funnel Display';
  box-sizing: border-box;
}

header{
  background-color: hsl(284, 100%, 3%);
  color: rgb(219, 219, 219);
  top: 0;
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  position: fixed;
}

header span{
  color: hsl(246, 100%, 46%);
}

main{
  margin-top: 150px;
  background-image: url(assets/imgs/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

section{
  height: 740px;
  width: 550px;
  background-color: hsla(251, 100%, 14%, 0.932);
  border-radius: 25px;
  padding: 30px;
  display:flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

section form {
  width: 100%;
}

button:hover{
  cursor: pointer;
}

section input, 
section .searchButton {
  font-size: 20px;
  height: 50px;
  border: none;
} 

section input{
  background-image: linear-gradient(to right, hsl(0, 0%, 91%), hsl(244, 54%, 55%));
  width: 80%;
  border-radius: 10px 0 0 10px;
  outline: none;
  text-indent: 10px;
}

section .searchButton{
  width: 20%;
  border-radius: 0 10px 10px 0;
  background-image: linear-gradient(to right, hsl(244, 54%, 55%), hsl(244, 98%, 40%));
  font-weight: bold;
  color: white;
}

.trackList{
  overflow: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.track{
  display: flex;
  align-items: center;
  height: 80px;
  width: 100%;
  margin: 20px 0 20px 0;
  padding-bottom: 20px;
  border-bottom: 1px solid grey;
}

.track:last-child{
  border: none;
}

.track .info{
  width: 80%;
  height: 60px;
}

.track .info h1{
  font-size: 20px;
  color: white;
}

.track .info h2{
  font-size: 15px;
  color: grey
}

.track button{
  width: 20%;
  height: 60px;
  border: none;
  background-color: transparent;
  font-size: 40px;
  color: white;
}